.popup__close-button {
    align-self: flex-end;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: contain;
    background-color: transparent;
    padding: 0;
    transition: opacity .2s ease-out;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

@media  screen and (max-width: calc(430px + 2*(19px + 32px + 8px))) {
    .popup__close-button {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}