.photo-grid__caption-text {
    color: #000000;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
    vertical-align: center;
    padding-left: 21px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 21px - 15px - 22px - 20px);
    grid-area: text;
}