.header__nav-email {
    /* padding-top: 45px;
    margin: 0 auto;
    max-width: 880px;
    border-bottom: rgba(84, 84, 84, .7) 1px solid;
    box-sizing: border-box; */
    /* justify-self: flex-end; */
    margin: 0;
    padding: 0 24px 0 0;
    /* height: 22px; */
}

/* @media screen and (max-width: 500px) {
    .header {
        padding-top: 28px;
    }
} */