.photos {
    width: 880px;
    margin: 0 auto;
    padding-bottom: 66px;
    min-height: calc(100vh - 118px - 210px - 81px - 66px);
}

@media screen and (max-width: calc(880px + 2*19px)) {
    .photos {
        width: calc(100% - 2*19px);
    }
}

@media screen and (max-width: 500px) {
    .photos {
        min-height: calc(100vh - 83px - 364px - 81px - 66px);
    }
}

@media screen and (max-width: 450px) {
    .photos {
        padding-bottom: 48px;
        min-height: calc(100vh - 83px - 364px - 52px - 48px);
    }
}