.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: inherit;
    background-image: url(../../../images/edit_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    grid-area: edit-button;
    align-self: end;
    justify-self: end;
    transition: opacity .2s ease-out;
    cursor: pointer;
    /* отступ для выравнивания элементов в сетке, чтоб было точно по макету*/
    margin-bottom: 10px;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 500px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
        margin-bottom: 6px;
    }
}